body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #00ac10;
  text-align: center;
}

a:link {
  color: #0f3fff;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #44ef54;
}
